# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 45787d6dcf182ea9aaf6af891d5ee09721453cf03d15ed804aa7157988814716a4481c1d94e8b6886d72efada9e32a90486848d38d6eff6ca3e0cac60b66637f

test:
  secret_key_base: a2a1811e063fc1b62166c4773cb06ca07a7f222c41f3f7529abd667d881d3ffb648dc4b36b031900396892f2a0005451eb0042abae5f186ad411aa79756a37b5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
